*{
	margin:0;
	padding:0;
}
ul,li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img{
	display: inline-block;
}
body,html{
	height: 100%;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
em,i{
	font-style: normal;
}
input{
	outline: none;
}